

.hero-bg-one {
    background:  linear-gradient(
        115deg,
        #000000c9,
        rgba(39, 43, 34, 0.7)), url(../../images/pianist.jpg) no-repeat;
    background-position: bottom center !important;
}

.hero-bg-two {
    background:  linear-gradient(
        115deg,
        #000000c9,
        rgba(39, 43, 34, 0.7)),url(../../images/guitarist.jpg) no-repeat;
}

.hero-bg-three {
    background:  linear-gradient(
        115deg,
        #000000c9,
        rgba(39, 43, 34, 0.7)),url(../../images/drummer.jpg) no-repeat;
}

.hero-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
    color: #fff;
    text-align: center;
}

.slider-content h1 {
    font-size: 70px;
}


.base-display {
    background: linear-gradient(45deg, #000000c9, #000000c7),url(../../images/piano.jpg) no-repeat;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.base-display h1 {
    font-size: 30px;
}

.image-box {
    text-align: center;
}

.image-box img {
    border-radius: 8px;
    height: 450px;
    object-fit: cover;
    object-position: left;
}

#about, #team, #instruments {
    padding: 100px 0 30px 0;
}
